body {
font-family: Verdana;
font-size: 12px;
color: #444;
}

a:link {
	color: #000000;
	text-decoration: none;
	border-bottom: 1px dotted #ccc;
}
a:visited {
	color: #222222;
	text-decoration: none;
	border-bottom: 1px dotted #ddd;
}
input[type=text]{
	width: 120px;
	border: 1px solid #ddd;
}
input[type=password]{
	width: 120px;
	border: 1px solid #DDDDDD;
}
td.title {
    min-width: 400px;
}
tr:hover {
    background-color: #fbfbfb;
}
#sidebar{
    width: 210px;
    float:left;
}
#sidebar p {
    text-align: center;
    padding: 0px;
    margin:0px;
}

p.h3 {
    font-size: 18px;
    padding: 0px;
    margin: 2px;
}
#content {
    float:left;
    width: 760px;
}
.title {
    margin: 0px;
    padding: 0px;
}
.title a{
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-weight: 600;
}
h2 {
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    color: #444444;
}
h2 a {
    color: #444444;
    text-decoration: underline;
    border: 0px;
}
div.username {
    margin: 2px;
    font-size: 16px;
}
div.published{
    margin: 0px;
    font-size: 10px;
}
div.post-content {
    padding: 15px;
    line-height: 15px;
}
div.post-signature {
    padding: 0px 0px 0px 0px;
    margin-left: 15px;
    line-height: 0px;
    border-top: 1px solid #ddd;
    font-size: 12px;
    width: 350px;

}
div.post {
    margin: 15px;
}
footer {
    font-size: 10px;
    margin: 15px;
    padding: 15px;
}
div.clear-both {
    clear:both;
}
